{% extends 'admin/master.html' %}

{% block body %}
    <p>Hello</p>
    <p>This is the EAF Secret Santa. Suggested gift value is $40. </p>
    {% if current_user.secret_santa and not current_user.address_for_secret_santa %}
        <p class="highlight-background"><strong><a href="{{ url_for('admin.my_preferences') }}/">Please go here and add
            your address.</a></strong>
        </p>
    {% elif current_user.needs_preferences %}
        <p class="highlight-background"><strong><a href="{{ url_for('admin.my_preferences') }}/">
            Please Update Your Preferences
        </a></strong>
        </p>

    {% endif %}
    {% if matches_exist and current_user.secret_santa %}
        <p>You have to buy: {{ current_user.n_recipients }} gift{% if current_user.n_recipients > 1 %}s{% endif %}.</p>
        {% if current_user.n_recipients == 0 %}
            <p>Sorry. You don't get to be a santa. Ping ross() if you're upset, you can send him coffee. </p>
        {% endif %}
    {% endif %}
    <br/>
    {% for recipient in current_user.recipients %}
        <hr/>
        <br/>
        <p>Wow, you're a secret santa to: <strong>{{ recipient.discord_username }}</strong>, how did that happen?</p>
        {% if recipient.gift_comments %}
            <p>Their gift preferences are: {{ recipient.gift_comments }}</p>
        {% else %}
            <p>They don't have gift preferences.... how strange! </p>
        {% endif %}
        {% if recipient.address_for_secret_santa %}
            <p>{{ recipient.discord_username }}'s Address: <span class="matchedAddress">
            {{ recipient.address_for_secret_santa }}
        </span>
            </p>

        {% else %}
            <p>Your recipient still needs to give you their address...! </p>
        {% endif %}
        <br/>

    {% endfor %}

    {% if users_without_secret_santa_exist %}
        <br/>
        <p><strong>There are some Tiny Tims :(</strong> (users without Santas) </p>
        <a href="{{ url_for('increase_potential') }}"><p>Click Here to +1 your Secret Santa Potential.</p></a>
        <p>Review your users after!! </p>
    {% endif %}
{% endblock %}

{% block tail %}
    {{ super() }}
{% endblock %}