{% extends 'admin/master.html' %}

{% block head %}
{% endblock %}

{% block body %}
<p>Hi, and welcome to EAF Cafe-Regs Secret Santa.</p>
<h3>How It Works:</h3>
<p>You sign up. When we close registration we will assign Secret Santas. Once Secret Santas are assigned, we will
    reach out to all users and ask them to upload their addresses. </p>
<p>When your address is uploaded, it is encrypted using your Secret Santa's public key.
    This way only your Secret Santa can decrypt it.</p>
<p>If you have any problems please DM ross3777 on discord.</p>
<p>All data will be deleted after the Secret Santa ends. </p>
<a href="{{ url_for('login_with_discord') }}">
    <button type="button" class="btn btn-success">Login with Discord to get started.</button>
</a>
{% endblock %}

